body{
  background-color:#151515;
  overflow-y:hidden;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.jumbotron{
  margin-top:-50px;
  background-color:#1C1C1C;
  color:white;
}
input[type=text]{
  background-color:transparent;
  border-color:#2E2E2E;
}
input[type=text]:focus{
  background-color:transparent;
  border-color:#6E6E6E;
}
.game{
  display:inline-block;
  width:80px;
  height:80px;
  margin:40px;
  opacity:0.7;
  cursor:pointer;
}
.game:hover{
  opacity:1;
}
.game span{
  font-size:12px;
}
.game img{
  border-radius: 10px;
}
.navbar{
  -webkit-app-region: drag;
  background-color:#151515;
}
a {
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: white;
}
.navbar-right div{
  display:inline-block;
  margin-left:20px;
  cursor:pointer;
  opacity:0.7;
}
.navbar-right div:hover{
  opacity:1;
}
.navbar-brand {
  opacity:0.7;
}
.navbar-brand:hover {
  opacity:1;
}
.navbar-brand span{
  font-size:14px;
  font-style:italic;
}
#minimize,#close,#tray,.navbar-brand{
-webkit-app-region: no-drag !important;
}
#search {
  text-align: center;
}
#form,#result {
  width:40%;
  display: inline;
}
#gameName{
  font-size:42px;
}
#result div{
  overflow-y: scroll;
  height:300px;
}
::-webkit-scrollbar {
 width: 12px;
 }
 ::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   -webkit-border-radius: 10px;
   border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: rgba(0,0,0,0.5);
 }
 ::-webkit-scrollbar-thumb:window-inactive {
   background: rgba(0,0,0,0.4);
 }
 .checkbox{
   display:inline;
   margin-left:30px;
 }
 #status{
   background-color: #2E2E2E;
   border-color:#2E2E2E;
   border-size:1px;
   border-style:solid;
   border-radius: 6px;
 }
 #startHackTool{
   cursor: pointer;
 }
